:root {
    --purple: rgb(216,114,230);
    --dark: rgb(52,57,61);
    --highlight:rgb(55, 255, 208);
}

body {
    background: var(--dark);
    color: var(--purple);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
}

header {
    text-align: center;
    margin: 0 20px;
}

header h1 {
    font-size: 3em;
}

header p {
    color: white;
}

#contentGrid {
    display: grid;
    width: 100%;
    margin-top: 50px;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: 
        "flexboxRow flexboxColumn cssGrid"
        "linearGradient transition titleOveraly";
}

#flexboxRow {
    grid-area: flexboxRow;
} 

#flexboxColumn {
    grid-area: flexboxColumn;
} 

#cssGrid {
    grid-area: cssGrid;
} 

#linearGradient {
    grid-area: linearGradient;
}    

#transition {
    grid-area: transition;
} 

#titleOveraly {
    grid-area: titleOveraly;
}

.contentCard {
    border: 1px dashed #fff;
    padding: 10px 20px;
    margin: 30px 10px;
}

.contentCardCode {
    padding: 20px;
    white-space: pre-wrap;
    color: white;
    line-height: 2em;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    cursor: pointer;
    -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/*  
    Source:
    https://css-tricks.com/overriding-the-default-text-selection-color-with-css/ 
*/
.contentCardCode::selection { /* Webkit Browsers */
    background: var(--highlight); 
    color: black;
  }

  .contentCardCode::-moz-selection { /* Gecko Browsers */
    background: var(--highlight); 
    color: black;
  }

.contentCardTitle {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -55px;
    margin-bottom: -55px;
    background-color: var(--dark);
}

.contentCardCode .contentCardTitle {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.contentCard:hover, .contentCard:hover .contentCardTitle {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

footer {
    color: #ffffff; 
    height:20px; 
    text-align:center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
    #contentGrid {
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
            "flexboxRow flexboxColumn"
            "cssGrid linearGradient"
            "transition titleOveraly";
    }
}

@media screen and (max-width: 768px) {
    #contentGrid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "flexboxRow" "flexboxColumn"
            "cssGrid" "linearGradient"
            "transition" "titleOveraly";
    }

    header h1 { font-size: 2em;}
}