:root {
    --purple: rgb(216,114,230);
    --dark: rgb(52,57,61);
    --highlight:rgb(55, 255, 208);
}

body {
    background: var(--dark);
    color: var(--purple);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
}

header {
    text-align: center;
    margin: 0 20px;
}

header h1 {
    font-size: 3em;
}

header p {
    color: white;
}

#contentGrid {
    display: grid;
    width: 100%;
    margin-top: 50px;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: 
        "flexboxRow flexboxColumn cssGrid"
        "linearGradient transition titleOveraly";
}

#flexboxRow {
    grid-area: flexboxRow;
} 

#flexboxColumn {
    grid-area: flexboxColumn;
} 

#cssGrid {
    grid-area: cssGrid;
} 

#linearGradient {
    grid-area: linearGradient;
}    

#transition {
    grid-area: transition;
} 

#titleOveraly {
    grid-area: titleOveraly;
}

.contentCard {
    border: 1px dashed #fff;
    padding: 10px 20px;
    margin: 30px 10px;
}

.contentCardCode {
    padding: 20px;
    white-space: pre-wrap;
    color: white;
    line-height: 2em;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
    cursor: pointer;
    -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/*  
    Source:
    https://css-tricks.com/overriding-the-default-text-selection-color-with-css/ 
*/
.contentCardCode::selection { /* Webkit Browsers */
    background: var(--highlight); 
    color: black;
  }

  .contentCardCode::-moz-selection { /* Gecko Browsers */
    background: var(--highlight); 
    color: black;
  }

.contentCardTitle {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -55px;
    margin-bottom: -55px;
    background-color: var(--dark);
}

.contentCardCode .contentCardTitle {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.contentCard:hover, .contentCard:hover .contentCardTitle {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

footer {
    color: #ffffff; 
    height:20px; 
    text-align:center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* 
    CSS For popup (https://www.w3schools.com/howto/howto_js_snackbar.asp)
*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* End of popup CSS */


@media screen and (max-width: 992px) {
    #contentGrid {
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
            "flexboxRow flexboxColumn"
            "cssGrid linearGradient"
            "transition titleOveraly";
    }
}

@media screen and (max-width: 768px) {
    #contentGrid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "flexboxRow" "flexboxColumn"
            "cssGrid" "linearGradient"
            "transition" "titleOveraly";
    }

    header h1 { font-size: 2em;}
}